<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="FreshCart_connection" connectionString="Data Source=DESKTOP-7K441SG;Initial Catalog=FreshCart_DB;Integrated Security=True" providerName="System.Data.SqlClient"  />
  </connectionStrings>
  

  <!--<connectionStrings>
    <add name="FreshCart_connection" connectionString="Server=tcp:freshcart-server-v2.database.windows.net,1433;Initial Catalog=fresh;Persist Security Info=False;User ID=freshcart-admin.1;Password=Fresh123@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"  />
  </connectionStrings>-->

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
